{
    "presets": [
        // webpack understands the native import syntax, and uses it for tree shaking.
        "es2015",

        // Specifies what level of language features to activate.
        // Stage 0 is Strawnan, not ES6, 1 is proposal, 2 is "draft", 3 is completed, 4 is finished.
        // See https://tc39.github.io/process-document/
        "stage-2",

        // Transpile React components to JavaScript,
        "react"
    ],
    "env"    : {
        "development": {
            "plugins": [
                // Enables React code to work with HMR.
                "react-hot-loader/babel"
            ]
        },
        "production" : {
            "presets": [
                "react-optimize"
            ]
        }
    }
}
